<div class="page">
  <p>
    <mat-toolbar color="warn">
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>local_shipping</mat-icon>
      </button>
      <span>The Moving Company</span>
      <span class="toolbar-spacer"></span>
      <div class="top-bar-info">Logged in as sales</div>
    </mat-toolbar>
  </p>
  <div class="page-content" *ngIf="customers$ | async as customers">
    <app-order-table [customers]="customers"></app-order-table>
    <mat-card>
      <mat-card-title *ngIf="orderInEdit$ | async as orderInEdit">{{
        orderInEdit ? "Update order" : "New order"
      }}</mat-card-title>
      <mat-card-content>
        <app-edit-order [customers]="customers"></app-edit-order>
      </mat-card-content>
    </mat-card>
  </div>
</div>
