<div class="page">
  <mat-card color="primary" class="top-bar">
    <div>
      <mat-card-title
        >The moving company<mat-icon class="top-bar-icon"
          >local_shipping</mat-icon
        ></mat-card-title
      >
      <div class="top-bar-info">Logged in as sales</div>
    </div>
  </mat-card>
  <div class="page-content">
    <mat-card>
      <mat-card-title>Orders </mat-card-title>
      <mat-list class="order-list" *ngIf="orders$ | async as orders">
        <mat-list-item *ngFor="let order of orders">
          <div class="list-item">
            <span>
              {{ order.order.orderId }}
            </span>
            <span>
              {{ order.customer.name }}
            </span>
            <span>
              {{ order.customer.customerId }}
            </span>
            <div>
              <span>
                {{ order.customer.email }}
              </span>
              <br />
              <span class="customer-phone">
                {{ order.customer.phoneNumber }}
              </span>
            </div>
            <div>
              {{ order.order.toAdress }}
            </div>
            <div>
              {{ order.order.fromAdress }}
            </div>

            <div>
              <div class="service-item" *ngFor="let service of order.services">
                {{ service.serviceType + ": " + (service.date | date) }}
              </div>
            </div>
            <div>
              {{ order.order.note }}
            </div>
            <button mat-icon-button (click)="updateOrder(order)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteOrder(order.order.orderId)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card>
      <mat-card-title>New order</mat-card-title>
      <mat-card-content *ngIf="customers$ | async as customers">
        <app-edit-order [customers]="customers"></app-edit-order>
      </mat-card-content>
    </mat-card>
  </div>
</div>
