.list-item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 3fr 3fr 3fr 2fr 1fr 1fr 1fr;
  // he
}

.top-bar {
  height: 20%;
  color: white;
  background-color: red;
  margin-bottom: 1rem;
}

.top-bar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-bar-icon {
  color: white;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.order-list {
  margin: 1rem;
  margin-top: 2rem;
}

.page {
  width: 100%;
}

.page-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
