<div *ngIf="orderData$ | async as orderData">
  <mat-card>
    <mat-form-field appearance="standard" color="warn">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="1" #input />
    </mat-form-field>
    <table mat-table [dataSource]="orderData">
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.order.orderId }}
        </td>
      </ng-container>
      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef>Date placed</th>
        <td mat-cell *matCellDef="let element">
          {{ element.order.date | date }}
        </td>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Customer name</th>
        <td mat-cell *matCellDef="let element">
          <span>
            {{ element.customer.email }}
          </span>
          <br />
          <span class="customer-phone">
            {{ element.customer.phoneNumber }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef>Customer Id</th>
        <td mat-cell *matCellDef="let element">
          {{ element.customer.customerId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fromAdress">
        <th mat-header-cell *matHeaderCellDef>From adress</th>
        <td mat-cell *matCellDef="let element">
          {{ element.order.fromAdress }}
        </td>
      </ng-container>

      <ng-container matColumnDef="toAdress">
        <th mat-header-cell *matHeaderCellDef>To adress</th>
        <td mat-cell *matCellDef="let element">
          {{ element.order.toAdress }}
        </td>
      </ng-container>

      <ng-container matColumnDef="services">
        <th mat-header-cell *matHeaderCellDef>Services</th>
        <td mat-cell *matCellDef="let element">
          <div class="services">
            <div class="service-item" *ngFor="let service of element.services">
              <mat-icon class="service-icon">
                {{ service.serviceType | serviceIcon }}
              </mat-icon>
              {{ service.date | date }}
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>Note</th>
        <td mat-cell *matCellDef="let element">{{ element.order.note }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="updateOrder(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteOrder(element.order.orderId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
